@model QuanLySoTietKiem.Models.AccountModels.ChangePasswordModel.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.CurrentPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        }
    </div>
</div>